<% layout("layout/boilerplate.ejs") %>
<link href="/stylesheets/map.css" rel="stylesheet" />
<div id="map"></div>
<div class="container">
  <h1>All Campgrounds</h1>

  <ul>
    <% for(let campground of allCampgrounds){%>

    <div class="card mb-3">
      <div class="row">
        <div class="col-md-4">
          <% if(campground.images.length) { %>
          <img class="img-fluid" src="<%=campground.images[0].url%>" alt="" />
          <% } else { %>
          <img
            class="img-fluid"
            src="https://source.unsplash.com/collection/483251"
            alt=""
          />
          <% } %>
        </div>
        <div class="col-md-8">
          <div class="card-body">
            <h5 class="card-title"><%=campground.title %></h5>
            <p class="card-text"><%=campground.description %></p>
            <p class="card-text">
              <small class="text-muted"><%=campground.location %></small>
            </p>
          </div>
          <a
            class="btn btn-primary mx-3"
            href="/campgrounds/<%=campground._id %>"
            >View Details</a
          >
        </div>
      </div>
    </div>
    <% } %>
  </ul>
</div>

<script>
  const campgrounds = <%- JSON.stringify(allCampgrounds)%>;
</script>

<script src="/javascript/clusterMap.js"></script>
