<% layout("layout/boilerplate.ejs") %>

<div class="row">
  <div class="col-md-6 col-12">
    <div class="card mb-3">
      <img src="<%=campground.image %>" class="card-img-top" alt="..." />
      <div class="card-body">
        <h5 class="card-title"><%=campground.title %></h5>
        <p class="card-text"><%=campground.description %></p>
      </div>
      <ul class="list-group list-group-flush">
        <li class="list-group-item"><%=campground.location%></li>
        <li class="list-group-item">
          Submited by
          <span class="fw-bold"><%=campground.author.username%></span>
        </li>
        <li class="list-group-item">$<%=campground.price %></li>
      </ul>
      <% if(currentUser && campground.author.equals(currentUser._id)){ %>
      <div class="card-body">
        <a
          href="/campgrounds/<%=campground._id%>/edit"
          class="card-link btn btn-warning"
          >Edit</a
        >
        <form
          class="d-inline"
          action="/campgrounds/<%=campground._id%>/delete?_method=DELETE"
          method="post"
        >
          <button class="card-link btn btn-danger">Delete Item</button>
        </form>
      </div>
      <% } %>
      <div class="card-footer text-muted">2 days ago</div>
    </div>
  </div>

  <div class="col-md-6 col-12">
    <h2 class="mt-2">Leave a Review</h2>
    <form
      class="mb-3 validations-form"
      action="/campgrounds/<%=campground._id%>/reviews"
      method="post"
      novalidate
    >
      <div class="mb-2">
        <label for="rating" class="form-label">Rating</label>
        <input
          type="range"
          class="form-range"
          min="1"
          max="5"
          name="review[rating]"
          id="rating"
        />
      </div>
      <div class="mb-2">
        <label for="body" class="form-label">Reviews</label>
        <textarea
          type="text"
          class="form-control"
          cols="30"
          rows="3"
          name="review[body]"
          id="body"
          required
        ></textarea>
        <div class="valid-feedback">Looks good!</div>
      </div>

      <button class="btn btn-success <%=!currentUser ? 'disabled' : '' %>">
        Submit
      </button>
    </form>
    <% for(let review of campground.reviews){ %>

    <div class="card mb-3">
      <div class="card-body">
        <h5 class="card-title">Rating: <%=review.rating%></h5>
        <h6 class="card-subtitle mb-2 text-muted">
          By: <%=review.author.username%>
        </h6>
        <p class="card-text">Review: <%=review.body%></p>
      </div>

      <% if(currentUser && review.author.equals(currentUser._id)){ %>
      <form
        class="px-3 mb-3"
        action="/campgrounds/<%=campground._id%>/reviews/<%=review._id%>?_method=DELETE"
        method="post"
      >
        <button class="btn btn-md btn-danger">Delete</button>
      </form>
      <% } %>
    </div>
    <% } %>
  </div>
</div>
